@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Slab:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #033058;
    --secondary-color: #396CAB;
    --accent1-color: #275C30;
    --accent2-color: #F3BA26;
    --base-color: #FFFFFF;
    --heading-font: "Roboto Slab";
    --text-font: "Raleway";

    --headline-color-on-white: #033058; /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
    --paragraph-color-on-white: #033058; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #FFFFFF; /* paragraph text on a colored background */ 
    --text-background-color: #F3BA26;
    --nav-link-color: #FFFFFF;
    --nav-background-color: #396CAB;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #396CAB;

}

body {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    font-family: var(--text-font);
}

.links{
    display: flex;
    color: white;
    padding: 10px 20px; 
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
nav {
    display: block;
      text-align: center;
      border: solid 15px var(--base-color);
      padding: 1em 0;
    
}


nav ul li {
    display: flex;
    align-self: auto;
    background-color: var(--text-background-color);
    border: solid .25rem var(--base-color);
    border-radius: 100%;
    margin: auto;

     /* Space between items */}
nav a {
    display: flex;
    align-self: auto;
    margin: 20px;
}


img .logo {
    margin: auto;
    max-width: 300px;

}

img {
    display: flex;
    margin: auto; /* Add margin for spacing */
    max-width: 20%; /* Make images responsive */
    height: auto;
}

h1{
    position: absolute;
    height: 60px;
    margin: 35px;
    font-size: 50px;
    color: var(--accent1-color)    
}
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    
}
head{
    max-width: 1090px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}
h2 {
    text-align: center;}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);

}
header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
}
header > h1,
header > h2 {
    color: var(--headline-color-on-color);
}
p {
    font-family: var(--text-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th {
    background-color: #999;
}
.colors td {
    width: 25%;
    height: 3em;
}
.primary {
    background-color: var(--primary-color);
}
.secondary {
    background-color: var(--secondary-color);
}
.accent1 {
    background-color: var(--accent1-color);
}
.accent2 {
    background-color: var(--accent2-color);
}
.base {
    background-color: var(--base-color);
}
p.colored {
    color: var(--base-color);
}
nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
 }

 footer .sociallinks img {
    display: flex;
    padding: 10px 20px; 
    justify-content: space-evenly; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    ;
}

.sociallinks{
    display: flex;
    position: relative;
    background-color: var(--accent1-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h2 {
font-size: 2em; /* Adjust size as needed */
margin: 0; /* Remove default margin */
}

section{
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--accent2-color);
}

article{
    position: absolute;
    image-resolution: 50%;
    float: inline-start;
    background-color: var(--nav-background-color) ;
    padding: 20px;
    border-radius: 50px;
    /*The img inside the article floats to the right of the p paragraph.
Consider styling the background-color and opacity of the article to fit the design and make sure it is readable.*/
}

/* About us */
.grid-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    background-color: var(--accent1-color);
    
}

.history h2 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/*Our experiences*/
.experiences {
    display: flex;
    flex-direction: column;
}

.experiences h2
{
    text-align: center;
    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
}

.experiences-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
