* {/*css rule for the universal selector aka wildcard*/
    margin: 0;
    padding: 0; /*(0) will ensure that all elements on the page will have no margin or padding, regardless of the browser defaults. This will make it easier for you to control the layout of the page.*/
    box-sizing: border-box;/*this tells the browser to account for any border and padding in the values you specify for an element's width and height*/
}
nav {
    background-color: rgb(29, 29, 104);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*apply two style declarations.
The background color will be the color "darkblue", which is a valid, named color.
Padding, or area between the content and border is set to 10 pixels for readability. */

nav a {
    color:white;
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}
/* This CSS rule selects all the <a> (anchor / link) elements in the HTML that are children of the <nav> element and applies the following declarations:

The foreground or font color will be white.
The display will change from the default of inline to block.
Each anchor tag will have padding of 20px;*/

h1 {
    color: darkblue;
    padding: 1rem;
    border-bottom: 2px black;
}
/*This CSS rule references the <h1> (heading 1) element as the selected element and applies the following declaration: */
p {
    padding: 1px;
    
}
/*Padding between the paragraph content and the border is set to 10 pixels.*/

main {
    /* width: 840px;
    height:  auto;
    margin: 0.5rem;
    border: 0px solid rga (0, 0, 0, 0.2); /*1*/
    /* padding: 4rem;
    background-color: #a1aee6;
    color: #333;
    text-align: left; */
    max-width: 640px;
} 

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
/*This CSS rule references all the <img> (image) elements as the selector and applies the following declarations:*/

aside {
    width: 20rem;
    /* margin: 1rem; */
    /* border: 1px solid rga (0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333; */
    text-align: center;
    position: relative;
}

aside h2 {/*moves NC text on top of aside image*/
    position: absolute;
    bottom: 220px;
    right: 90px;
    font-style: italic;
    font-size: larger;
    color: black
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;/*add a top margin to separate it from the main element content*/
    border-top: 1px solid #000;/*2️⃣add a top border to design additional distinction from the main content,*/
    text-align: center;
}

/* CLASS SELECTORS */

.box{/*I forgot to add the period before 'box'*/
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000

}

.indent {
    padding-left: 2rem
}

header, .grid, footer {
    max-width: 1200px;
    margin: 0 auto;
 }

.grid{
    display: grid;
    align-items: center;
}
main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}